# ---------------[ Unity generated ]------------------ #
KitKat/[Ll]ibrary/
KitKat/[Tt]emp/
KitKat/[Oo]bj/
KitKat/UnityGenerated/
KitKat/ProjectSettings/*.asset


# ----[ Visual Studio / MonoDevelop generated ]------- #

KitKat/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# -------------[ Build ]------------------------ #
*.html
*.unity3d